<div class="video-js-box">
  <video id="<%=@options[:id]%>" class="<%= @options[:classes] %> video-js vjs-default-skin" controls preload="auto" width="<%=@options[:width]%>" height="<%=@options[:height]%>" poster="<%= @options[:poster] %>" data-setup="{}">
    <source src="<%=@options[:source]%>" type='video/mp4' />
    <%# In future %>
    <%#<%- if @options[:captions] %>
      <%#<track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>[> Tracks need an ending tag thanks to IE9 <]%>
    <%#<%- end %>C%>
  </video>
  <p class="vjs-no-video"><a href="<%=@options[:source]%>">download</a> </p>
</div>
